* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    min-height: 100%;
    background-image: linear-gradient(0deg, black, rgb(0, 88, 0));
}

#nav-bar {
    background-color: black;
    position: fixed;
    color: white;
    text-align: left;
    width: 200px;
    min-height: 100%;
}

.nav-list {
    list-style-type: none;
}

nav ul li {
    margin: 20px 0;
    margin-left: 20px;
    font-size: 13px;
}

.fa-solid, #logo {
    margin-right: 10px;
    font-size: 15px;
}

#logo {
    margin-bottom: 20px;
    font-size: 30px;
}

#logolist {
    font-size: 30px;
}

#main-screen {
    margin-left: 200px;
    height: 300px;
    background-image: linear-gradient(180deg, green, rgb(0, 80, 0));
}

#top-nav-bar {
    width: 100%;
    padding: 5.5px 0;
    /* background-color: rgb(0, 80, 0); */
}

#upgrade {
    position: relative;
    left: 950px;
    padding: 6px 20px;
    border: 1px solid grey;
    border-radius: 20px;
    width: 90px;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    color: white;
}

#upgrade:hover {
    background-color: white;
    color: black;
    font-weight: 700;
}

.banner {
    margin-top: 10px;
    color: white;
    height: 200px;
}

.heart {
    margin-left: 40px;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(135deg, green, grey);
    box-shadow: 0 0 70px rgb(47, 47, 47);
    float: left;
}

#banner-heart {
    position: relative;
    left: 68px;
    top: 68px;
}

#banner-heading {
    position: relative;
    top: 35px;
    left: 20px;
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#playlist {
    margin-left: 230px;
    margin-bottom: 100px;
    width: 1000px;
}

#heading {
    color: rgb(172, 172, 172);
    display: flex;
    justify-content: space-between;
    position: sticky;
    font-weight: bold;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

#number, #title {
    width: 50px;
    text-align: center;
}

#song, #album, #dateadded {
    width: 250px;
}

#duration {
    width: 100px;
    text-align: right;
    margin-right: 25px;
}


.songlist {
    padding: 10px 0 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.songlist>:nth-child(1){
    color: rgb(172, 172, 172);
    font-size: 18px;
    width: 50px;
    text-align: center;
}

.songlist>:nth-child(2){
    width: 50px;
    text-align: center;
}

.songlist>:nth-child(3){
    width: 250px;
}

.songlist>:nth-child(4), .songlist>:nth-child(5), .songlist>:nth-child(6) {
    color: rgb(172, 172, 172);
    width: 250px;
    font-size: 14px;
}

.songlist>:nth-child(1), .songlist>:nth-child(4), .songlist>:nth-child(5), .songlist>:nth-child(6) {
    padding-top: 12px;
}

.songlist>:nth-child(6) {
    width: 100px;
    text-align: right;
    margin-right: 25px;
}

.songlist:hover {
    background-color: rgba(255, 255, 255, 0.125);
}

.cover {
    width: 50px;
}

.name {
    font-weight: bold;
    font-size: 17px;
}

.author {
    color: rgb(172, 172, 172);
}

#player {
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 80px;
    background-color: rgb(22, 22, 22);
    border: 1px solid rgba(128, 128, 128, 0.34);
    border-style: solid none none none;
}

#currsong {
    width: 25%;
    padding: 10px 0 10px 10px;
}

#currsong>#gif {
    width: 60px;
    position: absolute;
    margin-top: 10px;
}

#currsong>#song {
    width: 60px;
    float: left;
    margin-right: 10px;
}

#currsong>div {
    margin-top: 8px;
}

.currname {
    font-weight: bold;
    color: white;
    margin-top: 8px;
}

.currauthor {
    color: grey;
    font-size: 11px;
    font-weight: bold;
}

.centered {
    text-align: center;
    width: 50%;
}

.centered>.fa-solid {
    margin: 10px 10px 0;
    color: white;
}

.centered>.fa-solid:hover{
    cursor: pointer;
}

.fa-circle-play, .fa-circle-pause {
    font-size: 35px;
}

.fa-backward-step, .fa-forward-step {
    font-size: 25px;
}

.fa-arrow-rotate-left, .fa-shuffle {
    font-size: 17px;
}

.centered>small {
    color: grey;
}

#bar {
    width: 70%;
    height: 4px;
    border-radius: 2px;
}

#tools {
    width: 25%;
    padding: 10px 10px 10px 0;
    text-align: right;
}

#tools>.fa-solid {
    color: white;
    font-size: 15px;
    margin-top: 25px;
}

#tools>input {
    height: 4px;
    border-radius: 2px;
}